body{
    &.noScroll{
        overflow: hidden;    
    }
}

#page-container{
    padding-top: 0;

    .LxContainer {
        max-width: $container;
        margin: 0 auto;
    }

    .triangle {
        height: 40px;
        width: 100%;
        display: block;
        position: absolute;
        z-index: 9999;

        &.top {
            top: 0;
            transform: rotateY(180deg);
        }

        &.bottom{
            bottom: -40px;
        }

        &.grey{
            background: transparent;

            &:before{
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                top: 0;
                left: 0;
                border-top: 40px solid $grey;
                border-left: 60px solid transparent;
                z-index: 999;
            }
    
            &:after{
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                top: 0;
                right: 0;
                border-top: 40px solid $grey;
                border-right: calc(100vw - 77px) solid transparent;
            }
        }

    }
}

#et-main-area{
    z-index: 0;
    position: relative;
}

.et_pb_section{
    padding: 0 !important;
}

.et_pb_row {
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 !important;
    z-index: 1;
}

.et_pb_module {
    margin-bottom: 0 !important;
}

