#main-header {
    width: 100vw;
    max-width: 100%;
    z-index: 1;
    box-shadow: none;

    .logo_container{
        height: 120px;
        z-index: 10;

        img {
            height: 120px;
        }

        @media screen and (max-width: $break-mobile){
            max-width: 50%;
            position: relative;
        }
    }

    #LxLogo {
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity $longTransition ease-in-out;

        &.bye{
            opacity: 0;
            transition: opacity $longTransition ease-in-out;
            display: none;
        }
    }

    #LxLogoInverted {
        display: none;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity $longTransition ease-in-out;

        &.hello{
            opacity: 1;
            display: block;
            transition: opacity $longTransition ease-in-out;
        }
    }

    .LxHeader {
        position: relative;
        height: 120px;
        z-index: 3;
        
        @media screen and (max-width: $break-mobile){
            height: 100%;
        }
        .LxBurger{
            position: absolute;
            left: calc(100vw - 80px);
            top: 20px;
            cursor: pointer;
            padding: 10px;
            z-index: 11;
            
            span{
                height: 1px;
                background: black;
                display: block;
                transition: all $shortTransition ease-in-out;
        
                &.LxBOne{
                    width: 15px;
                }

                &.LxBTwo{
                    width: 10px;
                    margin-top: 5px;
                }     
            }

            &.open {
                transition: all $shortTransition ease-in-out;
                span {
                    background: $white;
                    &.LxBOne {
                        transform: rotate(45deg);
                    }

                    &.LxBTwo{
                        margin-top: -1px;
                        width: 15px;
                        transform: rotate(-45deg);
                    }   
                }
            }
        }
    }
}

#LxMenu {
    display: none;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background: lightgrey; // add correct backgroud - gradient?
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    transition: opacity $shortTransition ease-in-out ;
    opacity: 0;

    &.active{
        display: block;
        transition: opacity $shortTransition ease-in-out;
        opacity: 1;
    }

    .LxMenuContainer{
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        
        .LxMenuTitle{
            text-transform: uppercase;
            color: $orange;
            font-size: 18px;
            line-height: 30px;
            padding-bottom: 10px;
        }

        .LxMenuInner{
            ul {
                li {
                    padding-bottom: 30px;
                    
                    a {
                        @include font('bold');
                        font-size: 60px;
                        line-height: 80px;
                        color: $white;
                        margin-bottom: 30px;
                    }
                
                }
            }
        }
    }
}