.et_pb_lxblog_0{
    z-index: 1;
    position: relative;
    height: 986px;
    
    #vantajs{
        height: 100%;
    }

    .et_pb_ajax_pagination_container {
        z-index: 1; 
        padding-top: 310px;   
        max-height: 986px;
        display: flex;
        justify-content: flex-start;

        @media screen and (max-width: $break-tablet) {
            flex-direction: column;
            margin-top: 0;
            left: 0;
            transform: none;
        }

        @media screen and (max-width: $break-mobile) {
            margin-left: 0;
        }

        .frage{
            margin: 0 0 0 40px;
            width: calc(33.3% - 60px);
            background: $orange;
            color: $black;
            padding: 75px 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            align-items: baseline;

            h3 {
                color: $black;
            }

            p{
                font-size: 25px;
                line-height: 35px;
                margin: 40px 0;
            }

            span{
                color: $white;
                text-transform: uppercase;
                float: right;
                font-size: 20px;
                line-height: 25px;
                @include font("bold");
                position: absolute;
                top: 40px;
                right: 40px;
            }
        }

        article {
            display: table;
            max-width: 420px;
            width: calc(33.3% - 60px);
            margin: 0 40px;

            &:first-child{
                margin: 0 40px 0 0;
            }
            @media screen and (max-width: $break-tablet) {
                max-width: calc(50vw - 60px);
                margin: 0 10px;
                &:first-child{
                    padding-left: 15px;
                }
                &:last-child{
                    padding-right: 15px;
                }
            }
            @media screen and (max-width: $break-mobile) {
                max-width: calc(100vw - 60px);

                &:first-child{
                    padding-left: 15px;
                }
                &:last-child{
                    padding-right: 0; 
                    padding-left: 15px;
                }
            }

            h3{
                width: 60%;
                margin-bottom: 15px;
                margin-top: 30px;
                text-transform: uppercase;

                @media screen and (max-width: $break-tablet) {
                    width: 90%;          
                }
            }

            .post-meta{
                margin-top: 5px;
                float: right;
                text-transform: uppercase;
                .published{
                    color: $orange;
                }

                @media screen and (max-width: $break-tablet) {
                    top: 245px;
                }
            }

            .entry-featured-image-url{margin-bottom: 0;}
            
            img {
                width: 100%;
                height: 310px;
                object-fit: cover;
                border-bottom: 12px solid $orange;
                margin-bottom: 0;
            }
        }
    }
}