.LxCounter {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 100px 0;

    @media screen and (max-width: $break-tablet){
        padding: 30px 20px;
    }

    @media screen and (max-width: $break-mobile){

        max-width: 100%;
        &:nth-child(even){
            .LxCounterInner {
                flex-direction: column-reverse;
            }
        }
    }

    .LxCounterInner {
        display: flex;

        @media screen and (max-width: $break-mobile){
            flex-direction: column;

            &:nth-child(2){
                flex-direction: column-reverse;
            }
        }

        .third {
            position: relative;
            width: 33%;
            @include font("regular");
            font-size: 34px;
            color: $orange;
            line-height: 45px;

            @media screen and (max-width: $break-tablet){
                font-size: 20px;
                line-height: 25px;
                max-width: 234px;
            }

            @media screen and (max-width: $break-mobile){
                width: 100vw;
                max-width: 100%;
            }

            span {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);

                @media screen and (max-width: $break-mobile){
                    position: relative;
                    transform: none;
                    top: 0;
                }
            }

            &.LxLeft{
                text-align: right;

                @media screen and (max-width: $break-mobile){
                    text-align: center;
                }

                span{
                    right: 0;

                    @media screen and (max-width: $break-tablet) {
                        right: 20px;
                    }
                    @media screen and (max-width: $break-mobile) {
                        top: 20px;
                        left: 0;
                    }

                }
            }

            &.LxRight{
                text-align: left;

                @media screen and (max-width: $break-mobile){
                    text-align: center;
                }

                span{
        
                    @media screen and (max-width: $break-tablet) {
                        left: 20px;
                    }

                    @media screen and (max-width: $break-mobile) {
                        top: 20px;
                        left: 0;
                    }
                }
            }

            &.LxPercent{
                text-align: center;
                @include font("bold");
                font-size: 100px;
                color: $black;

                @media screen and (max-width: $break-tablet){
                    width: 300px;
                    font-size: 65px;
                    max-width: 300px;

                    canvas {
                        width: 300px !important;
                        height: 300px !important;
                    }
                }


                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}


#LxCounterSection{
    background: url("/wp-content/plugins/lx-modules/includes/modules/Counter/img/lines.png"),  linear-gradient(0deg, $white 0%, #d9d9d9 50%, white 100%);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px !important;
}