.lxmo_stage {
    position: relative;
    height: 100%;

    &:before{
        content: "";
        background: linear-gradient(-75deg, $orange 74%, $orange 50%,$orange 50%,$darkOrange 50%,$darkOrange 100%); /* W3C */
        width: 5%;
        height: 109.5%;
        left: 0;
        top: 0;
        position: absolute;
        z-index: 1;
        clip-path: polygon(0 9%, 100% 0%, 100% 70%, 0% 100%);
    }

    &:after{
        content: "";
        background: $orange;
        position: absolute;
        right: 0;
        top: 3.3%;
        width: 3%;
        height: 98%;
        z-index: 1;
        clip-path: polygon(0% 0%, 100% 6%, 100% 92%, 100% 100%);
    }

    .et_pb_module_inner {
        .LxStageImage {
            position: relative;
            &.clip {
                clip-path: polygon(5% 0%, 97% 3%, 100% 92%, 0% 100%);  // top left, top right, bottom right, bottom left
                z-index: 1;
                margin-bottom: -5%;
            }
        }
    }

    .LxStage {
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100%;
        
        @media screen and (max-width: $break-mobile){
            top: 10px;
        }

        .LxBox {
            max-width: 570px; 
            margin-left: $leftMargin;
            top: 50%;
            transform: translate(0, -30%);
            position: absolute;
            background-color: $white;
            padding: 100px 50px;

            @media screen and (max-width: 1650px){
                padding: 50px 25px;
                transform: translate(0, -35%);
            }

            @media screen and (max-width: $break-laptop){
                padding: 50px 25px;
                transform: translate(0, -40%);
            }

            @media screen and (max-width: $break-tablet){
                width: calc(50% - 40px);
                top: 15%;
                transform: none;
                padding: 30px 15px;
            }

            @media screen and (max-width: $break-mobile){
                width: calc(100% - 40px);
                margin: 0 auto;
            }

            h2 {
                font-size: 40px;
                line-height: 48px;
            }

            p {
                margin-top: 40px;
                margin-bottom: 50px;
                font-size: 20px;
                line-height: 28px;
                max-width: 420px;
                
                @media screen and (max-width: $break-tablet){
                    width: calc(100% - 20px);
                    margin-top: 20px;
                    margin-bottom: 25px;
                }

                @media screen and (max-width: $break-mobile){
                    font-size: 16px;
                    line-height: 20px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
            
            .LxBtn{
                width: 100%;
            }
        }
    }
}