.LxBtn {
    font-size: 16px;
    line-height: 34px;
    text-transform: uppercase;
    margin: 0;

    &.LxBtnOrange {
        background: $orange;
        padding: 10px 20px;
        color:$white;
    }
}