// Colors
$black: #000000;
$white: #FFFFFF;
$orange: #FF6600;
$grey: #878787;
$background: #F0F4F6;

// Layout
$containerWidth: 1320px;

$break-laptop: 1280px;
$break-tablet: 980px;
$break-mobile: 767px;

$shortTransition: 0.5s;
$longTransition: 1s;
